/* .form {
	background: white;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	width: 320px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	animation: fadeIn 0.6s ease-in-out;
} */

.div--modal-form {
	display: none;
}